#carouselExampleIndicators.carousel.slide {
    position: relative;
    width: 1440px;
    margin: 10px auto;
    height: 400px;
}

.carousel-inner {
    position: absolute;
    width: 100%;
}
.d-block .w-100 {
    position: absolute;
    width: 1440px;
    height: 100%;
}

.area_cart, p {
    margin: 0
}
